#expanded command
case "${OSTYPE}" in
# Mac(Unix)
darwin*)
# ここに設定
alias ls='ls -AG'
alias la='ls -Aa'
alias ll='ls -FThl'
#MacVim on CUI
alias vi='env LANG=ja_JP.UTF-8 /Applications/MacVim.app/Contents/MacOS/mvim --remote-tab-silent'
alias vs='env LANG=ja_JP.UTF-8 /Applications/MacVim.app/Contents/MacOS/mvim'
alias vimdiff='env LANG=ja_JP.UTF-8 /Applications/MacVim.app/Contents/MacOS/mvimdiff'

function em(){
	open -a /Applications/Emacs.app "$@"
}

function es(){
    /Applications/Emacs.app/Contents/MacOS/Emacs "$@" &
}

function ec(){
    /Applications/Emacs.app/Contents/MacOS/bin/emacsclient -n "$@" --alternate-editor /Applications/Emacs.app/Contents/MacOS/Emacs &
}

# 現在のディレクトリ以下の当てはまるファイルを全て削除する
# http://www.omnioo.com/omnioolab/2012/07/find.php
alias recrm='noglob _recrm'
function _recrm(){
    find . -name "$1"
    echo "remove all above? [y/N]"
    read ANSWER

    case $ANSWER in
        "Y" | "y" | "yes" | "Yes" | "YES" )
            find . -name "$1" -exec rmtrash {} \;;
            echo "$1 removed recursively.";;
        * ) echo "recrm canceled.";;
    esac
}

alias recrmi='noglob _recrmi'
function _recrmi(){
    find . -name "$1"
    find . -name "$1" -exec rm -i {} \;
    echo "recrmi $1 executed."
}

alias recfind='noglob _recfind'
# 現在のディレクトリ以下から引数の文字列を含むファイル名を列挙
function _recfind(){
    find . -name "*${1}*"
}
alias recfindi='noglob _recfindi'
#case-insensitive version
function _recfindi(){
    find . -iname "*${1}*"
}

# 現在のディレクトリ以下から引数の文字列を列挙

alias recgrep='noglob _recgrep'
function _recgrep(){
    grep -r "${1}" *
}
alias recgrepi='noglob _recgrepi'
#case-insensitive version
function _recgrepi(){
    grep -ri "${1}" *
}

# Haskellのファイルをa.outでコンパイルする
# その際、オブジェクトファイル(.o)とインターフェースファイル(.hi)を削除
function ghca(){
    ghc $1 -o a.out
        ret=$?
        if test ${ret} -eq 0
            then
                fname=`echo $1 | sed -e "s/\.[^.]*$//"`
                rm ${fname}.hi
                rm ${fname}.o
# echo "rm ${fname}.hi & ${fname}.o"
                fi
}

# http://tukaikta.blog135.fc2.com/blog-entry-214.html
alias rm='rmtrash'

# 事故死予防
alias cp='cp -i'
alias mv='mv -i'

alias pv='popd'
alias up='cd ../'

;;
# Linux
linux*)
# ここに設定
alias ls='ls --color=auto'
function vi(){
	gvim -f --remote-tab-silent $@ &
}
# function vi(){
# gvim -f --remote-tab $1 &
# }
function es(){
	emacs $@ &
}
function ec(){
	emacsclient $@ --alternate-editor emacs &
}
;;
esac

#make new alias
#alias refresh='source ~/.bashrc'
alias refresh='source ~/.zshrc'

#cd
alias cdp='cd ~/Program/ProCon'
alias cdd='cd ~/Desktop'
alias cdrepo='cd ~/Desktop/repository'
alias cds='cd ~/Desktop/repository/SettingFiles'
alias cdphp='cd /Library/WebServer/Documents/'

#shortcut for setting files
alias bashrc='vi ~/.bashrc'
alias zshrc='vi ~/.zshrc'
alias aliases='vi ~/.aliases'
alias einit='vi ~/.emacs.d/init.el'
# alias vimrc='vi ~/.vimrc'
alias vimrc='em ~/.vimrc'
alias gvimrc='em ~/.gvimrc'
alias gitconfig='vi ~/.gitconfig'
alias zshenv='vi ~/.zshenv'

#shortc cut for git
alias gst='git st'
alias gaa='git add .'
# alias gra='git rmall'
alias gcm='git commit'
alias gcma='git commit -a'
alias gcmm='git commit -m'
alias gps='git push'
alias gpl='git pull'

#shortcut for Application
alias e='./a.out'
alias cot='open -a CotEditor'
alias aq='aquamacs'
alias ccp='noglob ccp'

#rlwrap
alias ocaml='rlwrap ocaml'


#display all files,End with true or false
alias allfile='defaults write com.apple.finder AppleShowAllFiles'

REPO="${HOME}/Desktop/repository/"
SET="${HOME}/Desktop/repository/SettingFiles/"
EIN="${HOME}/.emacs.d/init.el"

