#expanded command
alias ls='ls -G'

#make new alias
#alias refresh='source ~/.bashrc'
alias refresh='source ~/.zshrc'

#cd
alias cdw='cd ~/Documents/workspace'
alias cdw2='cd ~/Documents/workspace2'
alias cdh='cd ~/Documents/Haskell_Workspace'
alias cdp='cd ~/Program/ProCon'
alias cdd='cd ~/Desktop'
alias cdr='cd ~/Desktop/repository/Research/PEG_Packrat'

#shortcut for setting files
alias bashrc='ec ~/.bashrc'
alias zshrc='ec ~/.zshrc'
alias aliases='cot ~/.aliases'
alias einit='cot ~/.emacs.d/init.el'
alias vimrc='cot ~/.vimrc'
alias gvimrc='cot ~/.gvimrc'

#shortcut for Application
alias e='./a.out'
alias cot='open -a CotEditor'
alias aq='aquamacs'
alias ccp='noglob ccp'

#MacVim on CUI
#alias cmvim='/Applications/MacVim-7_3-53/MacVim.app/Contents/MacOS/Vim'
alias gvim='env LANG=ja_JP.UTF-8 /Applications/MacVim-7_3-53/mvim  --remote-tab-silent "$@"'

#display all files,End with true or false
alias allfile='defaults write com.apple.finder AppleShowAllFiles'



#Emacs(not work)
#alias es1='/Applications/Emacs.app/Contents/MacOS/Emacs "$@" & '
#alias ec1='/Applications/Emacs.app/Contents/MacOS/bin/emacsclient -n "$1" --alternate-editor /Applications/Emacs.app/Contents/MacOS/Emacs &'

#for Python
#export #PATH="/System/Library/Frameworks/Python.framework/Versions/3.3/bin/:$PATH";
#alias python='python3.3'

#for JavaScript
#alias rhino='rlwrap java -jar /Applications/rhino1_7R2/js.jar'
#alias d8='rlwrap d8 '