#expanded command
alias ls='ls -G'

#make new alias
#alias refresh='source ~/.bashrc'
alias refresh='source ~/.zshrc'

#cd
alias cdw='cd ~/Documents/workspace'
alias cdw2='cd ~/Documents/workspace2'
alias cdh='cd ~/Documents/Haskell_Workspace'
alias cdp='cd ~/Program/ProCon'
alias cdd='cd ~/Desktop'
alias cdr='cd ~/Desktop/repository/Research/PEG_Packrat'

#shortcut for setting files
alias bashrc='ec ~/.bashrc'
alias zshrc='ec ~/.zshrc'
alias aliases='vi ~/.aliases'
alias einit='vi ~/.emacs.d/init.el'
alias vimrc='ec ~/.vimrc'
alias gvimrc='ec ~/.gvimrc'

#shortcut for Application
alias e='./a.out'
alias cot='open -a CotEditor'
alias aq='aquamacs'
alias ccp='noglob ccp'

#MacVim on CUI
alias vi='env LANG=ja_JP.UTF-8 /Applications/MacVim.app/Contents/MacOS/mvim "$@" --remote-tab-silent'
alias vimdiff='env LANG=ja_JP.UTF-8 /Applications/MacVim.app/Contents/MacOS/mvimdiff  "$@"'

#display all files,End with true or false
alias allfile='defaults write com.apple.finder AppleShowAllFiles'
