; http://transitive.info/article/git/command/config/

[user]
	name = mkiken
	email = MAIL_ADDRESS
[push]
	default = matching

; https://blogs.atlassian.com/2013/06/git-diff/
[alias]
# assumes git.git clone at ~/src/git
; diff-highlight = /usr/local/Cellar/git/1.8.4.3/share/git-core/contrib/diff-highlight/diff-highlight
	co = checkout
	ci = commit
	st = status
; diff-highlight = "!f() { git diff \"$@\" | /usr/local/Cellar/git/contrib/diff-highlight/diff-highlight; }; f"

; http://motemen.hatenablog.com/entry/2013/11/26/Git_%E3%81%AE_diff_%E3%82%92%E7%BE%8E%E3%81%97%E3%81%8F%E8%A1%A8%E7%A4%BA%E3%81%99%E3%82%8B%E3%81%9F%E3%82%81%E3%81%AB%E5%BF%85%E8%A6%81%E3%81%AA%E3%81%9F%E3%81%A3%E3%81%9F_1_%E3%81%A4%E3%81%AE%E8%A8%AD
[pager]
	; log = diff-highlight | less
	; show = diff-highlight | less
	log = /usr/local/Cellar/git/1.8.4.3/share/git-core/contrib/diff-highlight/diff-highlight | less
	show = /usr/local/Cellar/git/1.8.4.3/share/git-core/contrib/diff-highlight/diff-highlight | less
	diff = /usr/local/Cellar/git/1.8.4.3/share/git-core/contrib/diff-highlight/diff-highlight | less

[color]
	ui = auto
[core]
	excludesfile = ~/.gitignore
[merge]
	tool = vimdiff
