.DS_Store
.emacs.d/elpa
.emacs.d/history
.emacs.d/server
.frameposize
.mc-lists.el
.vimwinpos
auto-save-list
npm-debug.log
texput.log
vimfiles/.vim/bundle/
vimfiles/dein/nvim/bundle/
vimfiles/dein/vim/bundle/

# redis dump
dump.rdb
