[submodule "submodules/used-mem"]
	path = submodules/used-mem
	url = https://github.com/yonchu/used-mem.git
[submodule "submodules/zsh-syntax-highlighting"]
	path = submodules/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "submodules/zsh-bd"]
	path = submodules/zsh-bd
	url = https://github.com/Tarrasch/zsh-bd
[submodule "submodules/zaw"]
	path = submodules/zaw
	url = https://github.com/zsh-users/zaw
[submodule "submodules/zsh-autosuggestions"]
	path = submodules/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
