[submodule "submodules/used-mem"]
	path = submodules/used-mem
	url = https://github.com/yonchu/used-mem.git
[submodule "submodules/zsh-bd"]
	path = submodules/zsh-bd
	url = https://github.com/Tarrasch/zsh-bd
[submodule "submodules/zaw"]
	path = submodules/zaw
	url = https://github.com/zsh-users/zaw
[submodule "submodules/f-sy-h"]
	path = submodules/f-sy-h
	url = https://github.com/z-shell/F-Sy-H
[submodule "submodules/zsh-background-notify"]
	path = submodules/zsh-background-notify
	url = https://github.com/t413/zsh-background-notify.git
[submodule "submodules/zsh-snap"]
	path = submodules/zsh-snap
	url = https://github.com/marlonrichert/zsh-snap.git
