set hlsearch
set gdefault

"大文字小文字の区別なし
set ignorecase

"検索時に大文字を含んでいたら大/小を区別
set smartcase

set incsearch
set matchpairs+=<:>

" Escの2回押しでハイライト消去
nnoremap <Esc><Esc> :nohlsearch<CR><ESC>

" 対応する括弧やブレースを表示
set showmatch matchtime=1

" 行末のスペースを可視化
set listchars=tab:^\ ,trail:~

" message on status line to show current mode
set showmode

" メッセージ表示欄を2行確保
set cmdheight=2

" ステータス行を常に表示
set laststatus=2

" ウィンドウの右下にまだ実行していない入力中のコマンドを表示
set showcmd

" 省略されずに表示
set display=lastline

" 行をまたいで移動
set whichwrap=b,s,h,l,<,>,[,],~

" 自動インデント
set autoindent

set keep-english-in-normal

set scrolloff=5

set ideajoin

" Maps Vim's global marks to IDE bookmarks.
set ideamarks

" A comma-separated list of additional buffers or locations where IdeaVim should be enabled
set ideavimsupport=dialog,singleline

"インサートモードで bash 風キーマップ
inoremap <C-a> <C-o>^
inoremap <C-e> <C-o>$<Right>
inoremap <C-b> <Left>
inoremap <C-f> <Right>
inoremap <C-n> <Down>
inoremap <C-p> <Up>
inoremap <C-h> <BS>
inoremap <C-d> <Del>
inoremap <C-k> <C-o>D<Right>
inoremap <C-u> <C-o>d^
inoremap <C-w> <C-o>db

" https://youtrack.jetbrains.com/issue/VIM-1639
nnoremap <c-o> :action Back<cr>
nnoremap <c-i> :action Forward<cr>

imap jj <Esc>

" Moving blocks of text in visual mode
vnoremap < <gv
vnoremap > >gv
" Reload .ideavimrc
" なぜか<leader>sだとだめ
nnoremap <Space>s :source ~/.ideavimrc<CR>

" set <leader> to <space>
let mapleader = " "

" ============================================================================
" IDE actions
" ============================================================================
" nnoremap / :action Find<CR>
" nnoremap n :action FindNext<CR>
" nnoremap N :action FindPrevious<CR>
"


""" Plugin settings -------------------------

set NERDTree
set ReplaceWithRegister
set argtextobj
set commentary
set exchange
set highlightedyank
set matchit
set multiple-cursors
set surround
set textobj-indent
set vim-paragraph-motion
set switch "needs plugin install
set functiontextobj "needs plugin install
set which-key "needs plugin install
set peekaboo "needs plugin install

" for Which Key
" disable the timeout option
set notimeout

" for ArgTextObj
let g:argtextobj_pairs="[:],(:),<:>"

" Remap multiple-cursors shortcuts to match terryma/vim-multiple-cursors
nmap <leader>n <Plug>NextWholeOccurrence
xmap <leader>n <Plug>NextWholeOccurrence
nmap g<leader>n <Plug>NextOccurrence
xmap g<leader>n <Plug>NextOccurrence
xmap <leader>x <Plug>SkipOccurrence
xmap <leader>p <Plug>RemoveOccurrence

" Note that the default <A-n> and g<A-n> shortcuts don't work on Mac due to dead keys.
" <A-n> is used to enter accented text e.g. ñ
" Feel free to pick your own mappings that are not affected. I like to use <leader>
nmap <leader><C-n> <Plug>AllWholeOccurrences
xmap <leader><C-n> <Plug>AllWholeOccurrences
nmap <leader>g<C-n> <Plug>AllOccurrences
xmap <leader>g<C-n> <Plug>AllOccurrences

nnoremap <leader>t :NERDTreeFocus<CR>

" for switch
" Or use - and +
nnoremap - :Switch<CR>
nnoremap + :SwitchReverse<CR>

" Enable all patterns from multiple groups
let g:switch_definitions = 'group:basic,group:javascript,group:markdown,group:ruby'

" for Vim-Flash
" enhance vim f (find for char in characters to the right of the current cursor)
nmap f <Action>(flash.find)
xmap f <Action>(flash.find)
" enhance vim F (find for char in characters to the left of the current cursor)
nmap F <Action>(flash.find_backward)
xmap F <Action>(flash.find_backward)
" enhance vim t (till for char in characters to the right of the current cursor)
nmap t <Action>(flash.till)
xmap t <Action>(flash.till)
" enhance vim T (till for char in characters to the left of the current cursor)
nmap T <Action>(flash.till_backward)
xmap T <Action>(flash.till_backward)
" enhance vim ; (Repeat the last f/F/t/T search)
nmap ; <Action>(flash.repeat)
xmap ; <Action>(flash.repeat)
" enhance vim , (Repeat the last f/F/t/T search backward)
nmap , <Action>(flash.repeat_backward)
xmap , <Action>(flash.repeat_backward)
nmap s <Action>(flash.search)
xmap s <Action>(flash.search)