<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>phrase</key>
		<string> (◞‸◟)</string>
		<key>shortcut</key>
		<string>かおもじ</string>
		<key>timestamp</key>
		<integer>1408622648</integer>
	</dict>
	<dict>
		<key>phrase</key>
		<string>:;(∩´﹏`∩);:</string>
		<key>shortcut</key>
		<string>かおもじ</string>
		<key>timestamp</key>
		<integer>1408622648</integer>
	</dict>
	<dict>
		<key>phrase</key>
		<string>＼(^o^)／</string>
		<key>shortcut</key>
		<string>かおもじ</string>
		<key>timestamp</key>
		<integer>1408622648</integer>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(￣ー￣)</string>
		<key>shortcut</key>
		<string>かおもじ</string>
		<key>timestamp</key>
		<integer>1408622686</integer>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(・_・)</string>
		<key>shortcut</key>
		<string>かおもじ</string>
		<key>timestamp</key>
		<integer>1408622648</integer>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(・ω・)b</string>
		<key>shortcut</key>
		<string>かおもじ</string>
		<key>timestamp</key>
		<integer>1408622648</integer>
	</dict>
	<dict>
		<key>phrase</key>
		<string>（；ﾟДﾟ）</string>
		<key>shortcut</key>
		<string>かおもじ</string>
		<key>timestamp</key>
		<integer>1408622648</integer>
	</dict>
	<dict>
		<key>phrase</key>
		<string>((((( ；ﾟДﾟ)))))</string>
		<key>shortcut</key>
		<string>かおもじ</string>
		<key>timestamp</key>
		<integer>1408622691</integer>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(((ﾟДﾟ)))</string>
		<key>shortcut</key>
		<string>かおもじ</string>
		<key>timestamp</key>
		<integer>1408622648</integer>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(*ﾟoﾟ*)</string>
		<key>shortcut</key>
		<string>かおもじ</string>
		<key>timestamp</key>
		<integer>1408622648</integer>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(´・ω・)</string>
		<key>shortcut</key>
		<string>かおもじ</string>
		<key>timestamp</key>
		<integer>1408622696</integer>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(´・ω・｀)</string>
		<key>shortcut</key>
		<string>かおもじ</string>
		<key>timestamp</key>
		<integer>1408622648</integer>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(´･_･`)</string>
		<key>shortcut</key>
		<string>かおもじ</string>
		<key>timestamp</key>
		<integer>1408622648</integer>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(´･д･)-з</string>
		<key>shortcut</key>
		<string>かおもじ</string>
		<key>timestamp</key>
		<integer>1408622718</integer>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(´;ω;`)</string>
		<key>shortcut</key>
		<string>かおもじ</string>
		<key>timestamp</key>
		<integer>1408622648</integer>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(´；ω；｀)ﾌﾞﾜｯ</string>
		<key>shortcut</key>
		<string>かおもじ</string>
		<key>timestamp</key>
		<integer>1408622648</integer>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(´Д｀)</string>
		<key>shortcut</key>
		<string>かおもじ</string>
		<key>timestamp</key>
		<integer>1408622708</integer>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(ヽ´ω`)</string>
		<key>shortcut</key>
		<string>かおもじ</string>
		<key>timestamp</key>
		<integer>1408622648</integer>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(ﾟДﾟ )</string>
		<key>shortcut</key>
		<string>かおもじ</string>
		<key>timestamp</key>
		<integer>1408622648</integer>
	</dict>
	<dict>
		<key>phrase</key>
		<string>╭( ･ㅂ･)و ̑̑</string>
		<key>shortcut</key>
		<string>かおもじ</string>
		<key>timestamp</key>
		<integer>1408622648</integer>
	</dict>
	<dict>
		<key>phrase</key>
		<string>▂▅▇█▓▒░(’ω’)░▒▓█▇▅▂</string>
		<key>shortcut</key>
		<string>かおもじ</string>
		<key>timestamp</key>
		<integer>1408622648</integer>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ヽ(・ω・*)ﾉ</string>
		<key>shortcut</key>
		<string>かおもじ</string>
		<key>timestamp</key>
		<integer>1408622648</integer>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ヽ(´ー｀)ノ</string>
		<key>shortcut</key>
		<string>かおもじ</string>
		<key>timestamp</key>
		<integer>1408622648</integer>
	</dict>
	<dict>
		<key>phrase</key>
		<string>m(_ _)m</string>
		<key>shortcut</key>
		<string>かおもじ</string>
		<key>timestamp</key>
		<integer>1408622648</integer>
	</dict>
	<dict>
		<key>phrase</key>
		<string>v(￣∇￣)</string>
		<key>shortcut</key>
		<string>かおもじ</string>
		<key>timestamp</key>
		<integer>1408622713</integer>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ε-(‐ω‐；)</string>
		<key>shortcut</key>
		<string>かおもじ</string>
		<key>timestamp</key>
		<integer>1408622648</integer>
	</dict>
</array>
</plist>
