<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>phrase</key>
		<string> 人ゝω・)</string>
		<key>shortcut</key>
		<string>かおもじ</string>
		<key>timestamp</key>
		<integer>1417965742</integer>
	</dict>
	<dict>
		<key>phrase</key>
		<string>:;(∩´﹏`∩);:</string>
		<key>shortcut</key>
		<string>かおもじ</string>
		<key>timestamp</key>
		<integer>1401292018</integer>
	</dict>
	<dict>
		<key>phrase</key>
		<string>＼(^o^)／</string>
		<key>shortcut</key>
		<string>かおもじ</string>
		<key>timestamp</key>
		<integer>1390383349</integer>
	</dict>
	<dict>
		<key>phrase</key>
		<string>( ´ー｀)ﾌｩｰ．．．</string>
		<key>shortcut</key>
		<string>かおもじ</string>
		<key>timestamp</key>
		<integer>1414431833</integer>
	</dict>
	<dict>
		<key>phrase</key>
		<string>( ˘ω˘)ｽﾔｧ</string>
		<key>shortcut</key>
		<string>かおもじ</string>
		<key>timestamp</key>
		<integer>1414431833</integer>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(　˙-˙  )</string>
		<key>shortcut</key>
		<string>かおもじ</string>
		<key>timestamp</key>
		<integer>1414431833</integer>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(￣ー￣)ﾆﾔﾘｯ</string>
		<key>shortcut</key>
		<string>かおもじ</string>
		<key>timestamp</key>
		<integer>1403280313</integer>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(　ﾟдﾟ)ｸﾚ</string>
		<key>shortcut</key>
		<string>かおもじ</string>
		<key>timestamp</key>
		<integer>1414431833</integer>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(・_・)</string>
		<key>shortcut</key>
		<string>かおもじ</string>
		<key>timestamp</key>
		<integer>1390739356</integer>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(・ω・)b</string>
		<key>shortcut</key>
		<string>かおもじ</string>
		<key>timestamp</key>
		<integer>1397922258</integer>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(;´Д`)ｹﾞﾛｹﾞﾛ</string>
		<key>shortcut</key>
		<string>かおもじ</string>
		<key>timestamp</key>
		<integer>1414431833</integer>
	</dict>
	<dict>
		<key>phrase</key>
		<string>（；ﾟДﾟ）</string>
		<key>shortcut</key>
		<string>かおもじ</string>
		<key>timestamp</key>
		<integer>1403280313</integer>
	</dict>
	<dict>
		<key>phrase</key>
		<string>((((( ；ﾟДﾟ)))))ｶﾞｸｶﾞｸﾌﾞﾙﾌﾞﾙ</string>
		<key>shortcut</key>
		<string>かおもじ</string>
		<key>timestamp</key>
		<integer>1403280313</integer>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(((ﾟДﾟ)))</string>
		<key>shortcut</key>
		<string>かおもじ</string>
		<key>timestamp</key>
		<integer>1393986630</integer>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(*･ω･*)ﾎﾟｯ</string>
		<key>shortcut</key>
		<string>かおもじ</string>
		<key>timestamp</key>
		<integer>1414431833</integer>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(*&gt;▽&lt;*)ゞ</string>
		<key>shortcut</key>
		<string>かおもじ</string>
		<key>timestamp</key>
		<integer>1417965711</integer>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(*ﾟoﾟ*)</string>
		<key>shortcut</key>
		<string>かおもじ</string>
		<key>timestamp</key>
		<integer>1403280313</integer>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(´・ω・)ｶﾜｲｿｽ</string>
		<key>shortcut</key>
		<string>かおもじ</string>
		<key>timestamp</key>
		<integer>1403280313</integer>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(´・ω・｀)</string>
		<key>shortcut</key>
		<string>かおもじ</string>
		<key>timestamp</key>
		<integer>1392128386</integer>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(´･_･`)</string>
		<key>shortcut</key>
		<string>かおもじ</string>
		<key>timestamp</key>
		<integer>1392128449</integer>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(´･ω｀･)ｴｯ?</string>
		<key>shortcut</key>
		<string>かおもじ</string>
		<key>timestamp</key>
		<integer>1414431833</integer>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(´･д･)-з</string>
		<key>shortcut</key>
		<string>かおもじ</string>
		<key>timestamp</key>
		<integer>1414431833</integer>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(´;ω;`)</string>
		<key>shortcut</key>
		<string>かおもじ</string>
		<key>timestamp</key>
		<integer>1414431833</integer>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(´；ω；｀)ﾌﾞﾜｯ</string>
		<key>shortcut</key>
		<string>かおもじ</string>
		<key>timestamp</key>
		<integer>1414431833</integer>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(´∀｀∩)</string>
		<key>shortcut</key>
		<string>かおもじ</string>
		<key>timestamp</key>
		<integer>1414431833</integer>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(´Д｀)ﾊｧ…</string>
		<key>shortcut</key>
		<string>かおもじ</string>
		<key>timestamp</key>
		<integer>1403280313</integer>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(´ぅω・｀)ﾈﾑｲ</string>
		<key>shortcut</key>
		<string>かおもじ</string>
		<key>timestamp</key>
		<integer>1414431833</integer>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(∩´∀｀)∩ﾜｰｲ</string>
		<key>shortcut</key>
		<string>かおもじ</string>
		<key>timestamp</key>
		<integer>1414431833</integer>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(ﾟ⊿ﾟ)ｼﾗﾈ</string>
		<key>shortcut</key>
		<string>かおもじ</string>
		<key>timestamp</key>
		<integer>1414431833</integer>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(ヽ´ω`)</string>
		<key>shortcut</key>
		<string>かおもじ</string>
		<key>timestamp</key>
		<integer>1403280313</integer>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(ﾟДﾟ )</string>
		<key>shortcut</key>
		<string>かおもじ</string>
		<key>timestamp</key>
		<integer>1392128409</integer>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(ノ｀Д´)ノ彡┻━┻</string>
		<key>shortcut</key>
		<string>かおもじ</string>
		<key>timestamp</key>
		<integer>1414431833</integer>
	</dict>
	<dict>
		<key>phrase</key>
		<string>|дﾟ)ﾁﾗｯ</string>
		<key>shortcut</key>
		<string>かおもじ</string>
		<key>timestamp</key>
		<integer>1404229056</integer>
	</dict>
	<dict>
		<key>phrase</key>
		<string>╭( ･ㅂ･)و ̑̑</string>
		<key>shortcut</key>
		<string>かおもじ</string>
		<key>timestamp</key>
		<integer>1397922240</integer>
	</dict>
	<dict>
		<key>phrase</key>
		<string>▂▅▇█▓▒░(’ω’)░▒▓█▇▅▂</string>
		<key>shortcut</key>
		<string>かおもじ</string>
		<key>timestamp</key>
		<integer>1395423089</integer>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ヽ(・ω・*)ﾉ</string>
		<key>shortcut</key>
		<string>かおもじ</string>
		<key>timestamp</key>
		<integer>1403280313</integer>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ヽ(´ー｀)ノ</string>
		<key>shortcut</key>
		<string>かおもじ</string>
		<key>timestamp</key>
		<integer>1403280313</integer>
	</dict>
	<dict>
		<key>phrase</key>
		<string>L(・∀・ L) ｵｰｲ　　(」・∀・)」 ｵｰｲ</string>
		<key>shortcut</key>
		<string>かおもじ</string>
		<key>timestamp</key>
		<integer>1414431833</integer>
	</dict>
	<dict>
		<key>phrase</key>
		<string>m(_ _)m</string>
		<key>shortcut</key>
		<string>かおもじ</string>
		<key>timestamp</key>
		<integer>1392128398</integer>
	</dict>
	<dict>
		<key>phrase</key>
		<string>q( ﾟдﾟ)pﾌﾞｰﾌﾞｰﾌﾞｰ</string>
		<key>shortcut</key>
		<string>かおもじ</string>
		<key>timestamp</key>
		<integer>1414431833</integer>
	</dict>
	<dict>
		<key>phrase</key>
		<string>v(￣∇￣)ﾆﾔｯ</string>
		<key>shortcut</key>
		<string>かおもじ</string>
		<key>timestamp</key>
		<integer>1403280313</integer>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ε-(‐ω‐；)</string>
		<key>shortcut</key>
		<string>かおもじ</string>
		<key>timestamp</key>
		<integer>1403280313</integer>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ｷﾀ――(ﾟ∀ﾟ)――!!</string>
		<key>shortcut</key>
		<string>かおもじ</string>
		<key>timestamp</key>
		<integer>1414431833</integer>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ｷｮﾛ(ω･｀))(´･ω･｀)(( ´･ω)ｷｮﾛ</string>
		<key>shortcut</key>
		<string>かおもじ</string>
		<key>timestamp</key>
		<integer>1414431833</integer>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ﾊｱｰｧ(´･д･)-з</string>
		<key>shortcut</key>
		<string>かおもじ</string>
		<key>timestamp</key>
		<integer>1403280313</integer>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ヮ(ﾟдﾟ)ォ!</string>
		<key>shortcut</key>
		<string>かおもじ</string>
		<key>timestamp</key>
		<integer>1414431833</integer>
	</dict>
</array>
</plist>
