<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>phrase</key>
		<string>(∩ﾟдﾟ)ｱｰｱｰきこえなーい</string>
		<key>shortcut</key>
		<string>あーあー</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(ﾟДﾟ)ﾉ ｧｨ</string>
		<key>shortcut</key>
		<string>あい</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>｡⌒ ヽ(´ー｀ )</string>
		<key>shortcut</key>
		<string>あげる</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>（ﾉ∀｀）ｱﾁｬｰ</string>
		<key>shortcut</key>
		<string>あちゃー</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>∑(ﾟДﾟ)ｱｯ</string>
		<key>shortcut</key>
		<string>あっ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>( ﾟ∀ﾟ)ｱﾊﾊ八八ﾉヽﾉヽﾉヽﾉ ＼ / ＼/ ＼</string>
		<key>shortcut</key>
		<string>あはは</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(・3・)ｱﾙｪｰ?</string>
		<key>shortcut</key>
		<string>あるぇ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(´・ε・｀)</string>
		<key>shortcut</key>
		<string>あるぇ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>（・∀・）ｲｲ!!</string>
		<key>shortcut</key>
		<string>いい</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(・∀・)ｲｲﾈ!</string>
		<key>shortcut</key>
		<string>いいね</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(・ω・)b</string>
		<key>shortcut</key>
		<string>いいね</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(　；∀；) ｲｲﾊﾅｼﾀﾞﾅｰ</string>
		<key>shortcut</key>
		<string>いいはなし</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(ノﾟ∀ﾟ)八(ﾟ∀ﾟ )ノｲｴｰｲ</string>
		<key>shortcut</key>
		<string>いえーい</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(ノﾟДﾟ)八(ﾟДﾟ )ノｲｴｰｲ</string>
		<key>shortcut</key>
		<string>いえーい</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>v(o・∀・o)v</string>
		<key>shortcut</key>
		<string>いえーい</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(/ω＼)ｲﾔﾝ</string>
		<key>shortcut</key>
		<string>いやん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>（＃ﾟДﾟ）y-~ｲﾗｲﾗ</string>
		<key>shortcut</key>
		<string>いらいら</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string> (」・ω・)」うー！(／・ω・)／にゃー！</string>
		<key>shortcut</key>
		<string>うーにゃー</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(´ε｀；)ｳｰﾝ…</string>
		<key>shortcut</key>
		<string>うーん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>＼( 'ω')／ウオオオオアアーーーッッ！！！</string>
		<key>shortcut</key>
		<string>うおお</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(´；ω；｀)ｳｯ…</string>
		<key>shortcut</key>
		<string>うっ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ζ*'ヮ')ζうっうー</string>
		<key>shortcut</key>
		<string>うっうー</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(-＿-)ｳﾂﾀﾞｼﾉｳ</string>
		<key>shortcut</key>
		<string>うつだしのう</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(人´∀｀)．☆．。．:*･ﾟ</string>
		<key>shortcut</key>
		<string>うっとり</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(ﾟдﾟ)ｳﾏｰ</string>
		<key>shortcut</key>
		<string>うまー</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ｳﾙｾｰ!!(((((;｀Д´)≡⊃)｀Д)､;'.･</string>
		<key>shortcut</key>
		<string>うるせー</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>工工エエェェ（´д｀）ェェエエ工工	</string>
		<key>shortcut</key>
		<string>ええー</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(つд⊂)ｴｰﾝ</string>
		<key>shortcut</key>
		<string>えーん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(´･ω｀･)ｴｯ?</string>
		<key>shortcut</key>
		<string>えっ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(ﾟДﾟ≡ﾟдﾟ)ｴｯ!?</string>
		<key>shortcut</key>
		<string>えっ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Σ(゜Д゜;)</string>
		<key>shortcut</key>
		<string>えっ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Σ(゜Д゜ノ)ノ</string>
		<key>shortcut</key>
		<string>えっ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(*´σー｀)エヘヘ</string>
		<key>shortcut</key>
		<string>えへへ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>∑d(ﾟ∀ﾟd)ｫｩｨｪ!!</string>
		<key>shortcut</key>
		<string>おういえ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>( ｣ﾟДﾟ)｣ｵｰｲ!</string>
		<key>shortcut</key>
		<string>おーい</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>L(・∀・ L) ｵｰｲ　　(」・∀・)」 ｵｰｲ</string>
		<key>shortcut</key>
		<string>おーい</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>L(ﾟ□ﾟ)」ｵｰﾏｲｶﾞ!</string>
		<key>shortcut</key>
		<string>おーまいが</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>( ´Д｀ )ﾉ</string>
		<key>shortcut</key>
		<string>おつ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>お疲れ様です。</string>
		<key>shortcut</key>
		<string>おつ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>（＾ω＾ ≡ ＾ω＾）おっおっおっ</string>
		<key>shortcut</key>
		<string>おっ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>( ﾟ∀ﾟ)o彡°おっぱい！おっぱい！</string>
		<key>shortcut</key>
		<string>おっぱい</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>＼(^o^)／</string>
		<key>shortcut</key>
		<string>おわた</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>＼(＾o＾)／ｵﾜﾀ</string>
		<key>shortcut</key>
		<string>おわた</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ガ━━(ﾟДﾟ;)━━ン!</string>
		<key>shortcut</key>
		<string>がーん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ｶﾞ━━━━━━━∑(ﾟ□ﾟ*川━━━━━━━━ﾝ!</string>
		<key>shortcut</key>
		<string>がーん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Σ(ﾟдﾟlll)ｶﾞｰﾝ</string>
		<key>shortcut</key>
		<string>がーん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string> (・8・) </string>
		<key>shortcut</key>
		<string>かおもじ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string> ٩( ´ω` )و</string>
		<key>shortcut</key>
		<string>かおもじ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string> 人ゝω・)</string>
		<key>shortcut</key>
		<string>かおもじ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>･ﾟ･(｡✖д✖｡)･ﾟ･</string>
		<key>shortcut</key>
		<string>かおもじ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(　 Д )　　ﾟ　　ﾟ</string>
		<key>shortcut</key>
		<string>かおもじ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>( ･´ｰ･｀) </string>
		<key>shortcut</key>
		<string>かおもじ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>( ｡・ω・)ノ</string>
		<key>shortcut</key>
		<string>かおもじ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(　˙-˙  )</string>
		<key>shortcut</key>
		<string>かおもじ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(￣□￣；)</string>
		<key>shortcut</key>
		<string>かおもじ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(￣▽￣)</string>
		<key>shortcut</key>
		<string>かおもじ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(・_・)</string>
		<key>shortcut</key>
		<string>かおもじ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(;・`д・́)</string>
		<key>shortcut</key>
		<string>かおもじ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>（；ﾟДﾟ）</string>
		<key>shortcut</key>
		<string>かおもじ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>₍₍ ◝(・ω・)◟ ⁾⁾</string>
		<key>shortcut</key>
		<string>かおもじ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(*｀へ´*)</string>
		<key>shortcut</key>
		<string>かおもじ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(*´ω｀*)</string>
		<key>shortcut</key>
		<string>かおもじ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(*&gt;▽&lt;*)ゞ</string>
		<key>shortcut</key>
		<string>かおもじ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(*ﾟoﾟ*)</string>
		<key>shortcut</key>
		<string>かおもじ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(`・ω・´)</string>
		<key>shortcut</key>
		<string>かおもじ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(´・ω・｀)</string>
		<key>shortcut</key>
		<string>かおもじ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(´･_･`)</string>
		<key>shortcut</key>
		<string>かおもじ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(´;ω;`)</string>
		<key>shortcut</key>
		<string>かおもじ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>（^o^三^o^）</string>
		<key>shortcut</key>
		<string>かおもじ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>（＾ω＾）</string>
		<key>shortcut</key>
		<string>かおもじ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(✿╹◡╹)ﾉ☆</string>
		<key>shortcut</key>
		<string>かおもじ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(ヽ´ω`)</string>
		<key>shortcut</key>
		<string>かおもじ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(ノ・ω・)ノ</string>
		<key>shortcut</key>
		<string>かおもじ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>╭( ･ㅂ･)و ̑̑</string>
		<key>shortcut</key>
		<string>かおもじ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>▂▅▇█▓▒░(’ω’)░▒▓█▇▅▂</string>
		<key>shortcut</key>
		<string>かおもじ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>◟( ˘•ω•˘ )◞</string>
		<key>shortcut</key>
		<string>かおもじ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ヽ(・ω・*)ﾉ</string>
		<key>shortcut</key>
		<string>かおもじ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ヽ(；▽；)ノ</string>
		<key>shortcut</key>
		<string>かおもじ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ヽ(´ー｀)ノ</string>
		<key>shortcut</key>
		<string>かおもじ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>٩( 'ω' )و </string>
		<key>shortcut</key>
		<string>かおもじ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>٩(๑❛ㅂ❛๑)۶</string>
		<key>shortcut</key>
		<string>かおもじ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>v(｡･ω･｡)</string>
		<key>shortcut</key>
		<string>かおもじ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>‎灬╹ω╹灬</string>
		<key>shortcut</key>
		<string>かおもじ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ε-(‐ω‐；)</string>
		<key>shortcut</key>
		<string>かおもじ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Σ(･口･)</string>
		<key>shortcut</key>
		<string>かおもじ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>σ(^_^;)</string>
		<key>shortcut</key>
		<string>かおもじ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>((((( ；ﾟДﾟ)))))ｶﾞｸｶﾞｸﾌﾞﾙﾌﾞﾙ</string>
		<key>shortcut</key>
		<string>がくぶる</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(((ﾟДﾟ)))</string>
		<key>shortcut</key>
		<string>がくぶる</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(´・ω・)ｶﾜｲｿｽ</string>
		<key>shortcut</key>
		<string>かわいそす</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(　ﾟ皿ﾟ)ｷｰｯ!!</string>
		<key>shortcut</key>
		<string>きーっ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ｷﾀ――(ﾟ∀ﾟ)――!!</string>
		<key>shortcut</key>
		<string>きたー</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ｷﾀ━━━(Дﾟ(○=(ﾟ∀ﾟ)=○)Дﾟ)━━━!!</string>
		<key>shortcut</key>
		<string>きたー</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ｷﾀﾜｧ━━━━━━(n‘∀‘)η━━━━━━!!!!</string>
		<key>shortcut</key>
		<string>きたー</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(/ω＼)</string>
		<key>shortcut</key>
		<string>きゃー</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ヽ(・∀・ )ﾉ ｷｬｯ ｷｬｯ</string>
		<key>shortcut</key>
		<string>きゃっきゃ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ヾ(*´∀｀*)ﾉｷｬｯｷｬ</string>
		<key>shortcut</key>
		<string>きゃっきゃ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ｷｮﾛ(ω･｀))(´･ω･｀)(( ´･ω)ｷｮﾛ</string>
		<key>shortcut</key>
		<string>きょろきょろ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>( ´∀｀)bｸﾞｯ!</string>
		<key>shortcut</key>
		<string>ぐっ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(　ﾟдﾟ)ｸﾚ</string>
		<key>shortcut</key>
		<string>くれ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Σ(・∀・|||)ｹﾞｯ!!</string>
		<key>shortcut</key>
		<string>げっ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(@σﾟ∀ﾟ)σｹﾞｯﾂ!</string>
		<key>shortcut</key>
		<string>げっつ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(σ・∀・)σｹﾞｯﾂ!!</string>
		<key>shortcut</key>
		<string>げっつ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(;´Д`)ｹﾞﾛｹﾞﾛ</string>
		<key>shortcut</key>
		<string>げろげろ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(;・`д・́)...ｺﾞｸﾘ</string>
		<key>shortcut</key>
		<string>ごくり</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(ﾟAﾟ;)ｺﾞｸﾘ</string>
		<key>shortcut</key>
		<string>ごくり</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string> (つд⊂)ｺﾞｼｺﾞｼ</string>
		<key>shortcut</key>
		<string>ごしごし</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(つд⊂)ｺﾞｼｺﾞｼ</string>
		<key>shortcut</key>
		<string>ごしごし</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(＞人＜;)</string>
		<key>shortcut</key>
		<string>ごめん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(#ﾟДﾟ)ｺﾞﾙｧ!!</string>
		<key>shortcut</key>
		<string>ごるぁ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>|彡ｻｯ</string>
		<key>shortcut</key>
		<string>さっ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>（´・ω・`）.;:…（´・ω...:.;::..（´・;::: .:.;: ｻﾗｻﾗ..</string>
		<key>shortcut</key>
		<string>さらさら</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>|д・)</string>
		<key>shortcut</key>
		<string>じー</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>壁|ω・）</string>
		<key>shortcut</key>
		<string>じー</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(｀･ω･´)ｼｬｷｰﾝ</string>
		<key>shortcut</key>
		<string>しゃきーん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>|←樹海|　　　　　┗(^o^ )┓三</string>
		<key>shortcut</key>
		<string>じゅかい</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>_〆(・ω・｀ )</string>
		<key>shortcut</key>
		<string>しょぼん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(´・ω・`)</string>
		<key>shortcut</key>
		<string>しょぼん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(´・с_・｀)</string>
		<key>shortcut</key>
		<string>しょぼん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(ﾟ⊿ﾟ)ｼﾗﾈ</string>
		<key>shortcut</key>
		<string>しらね</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>( ´ー｀)シラネーヨ</string>
		<key>shortcut</key>
		<string>しらねーよ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>【審議中】　(　´・ω) (´・ω・) (・ω・｀) (ω・｀ )</string>
		<key>shortcut</key>
		<string>しんぎ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⊂('ω`⊂ 三</string>
		<key>shortcut</key>
		<string>ずさー</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⊂(ﾟДﾟ⊂⌒｀つ≡≡≡≡≡≡≡≡≡≡</string>
		<key>shortcut</key>
		<string>ずさー</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ｽﾞｻｰc⌒っﾟДﾟ)っ</string>
		<key>shortcut</key>
		<string>ずさー</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>m(_ _)m</string>
		<key>shortcut</key>
		<string>すみません</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>( ˘ω˘)ｽﾔｧ</string>
		<key>shortcut</key>
		<string>すやぁ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(´・д・｀)ｿﾝﾅｰ</string>
		<key>shortcut</key>
		<string>そんな</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(人∀・)ﾀﾉﾑ</string>
		<key>shortcut</key>
		<string>たのむ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(ﾉ∀`)ﾀﾊｰ</string>
		<key>shortcut</key>
		<string>たはー</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>－y( ´Д｀)｡oO○</string>
		<key>shortcut</key>
		<string>たばこ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>( ´ー｀)y-~~</string>
		<key>shortcut</key>
		<string>たばこ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>乂･д･)ﾀﾞﾒ</string>
		<key>shortcut</key>
		<string>だめ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(・д・)ﾁｯ</string>
		<key>shortcut</key>
		<string>ちっ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(ﾉ・∀・)ﾉ　＝＝＝＝＝┻━┻))ﾟДﾟ)･∵.</string>
		<key>shortcut</key>
		<string>ちゃぶだい</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(ノ｀Д´)ノ彡┻━┻</string>
		<key>shortcut</key>
		<string>ちゃぶだい</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(/ω・＼)ﾁﾗｯ</string>
		<key>shortcut</key>
		<string>ちらっ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>|дﾟ)ﾁﾗｯ</string>
		<key>shortcut</key>
		<string>ちらっ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(σ･∀･｀)</string>
		<key>shortcut</key>
		<string>えへへ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(・ω&lt;)ﾃﾍﾍﾟﾛ</string>
		<key>shortcut</key>
		<string>てへぺろ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>（//∇//）</string>
		<key>shortcut</key>
		<string>てれ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>┣¨┣¨┣¨┣¨┣¨┣¨┣¨┣¨┣¨┣¨┣¨┣¨┣¨</string>
		<key>shortcut</key>
		<string>どどど</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(　・ω・) ㌧</string>
		<key>shortcut</key>
		<string>とん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(/ _ ; )</string>
		<key>shortcut</key>
		<string>なき</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(T ^ T)</string>
		<key>shortcut</key>
		<string>なき</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(T_T)</string>
		<key>shortcut</key>
		<string>なき</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ヾ(・ω・ ) ﾅﾃﾞﾅﾃﾞ</string>
		<key>shortcut</key>
		<string>なでなで</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>｡･ﾟ･(ﾉ∀`)･ﾟ･｡</string>
		<key>shortcut</key>
		<string>なみだ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>｡･ﾟ･(ﾉД`)･ﾟ･｡</string>
		<key>shortcut</key>
		<string>なみだ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(´Д⊂ヽ</string>
		<key>shortcut</key>
		<string>なみだ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(； ･`д･´) ﾅ､ﾅﾝﾀﾞｯﾃｰ!! (`･д´･ ；)</string>
		<key>shortcut</key>
		<string>なんだって</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>／(^o^)＼ﾅﾝﾃｺｯﾀｲ</string>
		<key>shortcut</key>
		<string>なんてこったい</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>v(￣∇￣)ﾆﾔｯ</string>
		<key>shortcut</key>
		<string>にや</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(￣ー￣)ﾆﾔﾘｯ</string>
		<key>shortcut</key>
		<string>にやり</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(*´･ω･)(･ω･｀*)ﾈｰ</string>
		<key>shortcut</key>
		<string>ねー</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(´ぅω・｀)ﾈﾑｲ</string>
		<key>shortcut</key>
		<string>ねむい</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(:3 っ)っ</string>
		<key>shortcut</key>
		<string>ねる</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(´･д･)-з</string>
		<key>shortcut</key>
		<string>はぁ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(´Д｀)ﾊｧ…</string>
		<key>shortcut</key>
		<string>はぁ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ﾊｱｰｧ(´･д･)-з</string>
		<key>shortcut</key>
		<string>はぁ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>( ‘д‘⊂彡☆))Д´) ﾊﾟｰﾝ</string>
		<key>shortcut</key>
		<string>ぱーん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>'`ｨ (ﾟдﾟ)/</string>
		<key>shortcut</key>
		<string>はい</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>( ﾟДﾟﾉﾉ"☆ﾊﾟﾁﾊﾟﾁﾊﾟﾁﾊﾟﾁ</string>
		<key>shortcut</key>
		<string>ぱちぱち</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>( ﾟдﾟ)ﾊｯ!</string>
		<key>shortcut</key>
		<string>はっ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>○（#ﾟДﾟ）=（　 #）≡○)Д`)･∴'.</string>
		<key>shortcut</key>
		<string>ぱんち</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ﾌﾞﾌｯ∵(´ε(○＝(ﾟ∀ﾟ　)</string>
		<key>shortcut</key>
		<string>ぱんち</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(ﾉｼ 'ω')ﾉｼ ﾊﾞﾝﾊﾞﾝ</string>
		<key>shortcut</key>
		<string>ばんばん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(＃＾ω＾)ﾋﾟｷﾋﾟｷ</string>
		<key>shortcut</key>
		<string>ぴきぴき</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ヽ(；ﾟдﾟ)ﾉ ﾋﾞｸｯ!!</string>
		<key>shortcut</key>
		<string>びくっ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(｀･ω･´)ゞﾋﾞｼｯ!!</string>
		<key>shortcut</key>
		<string>びしっ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(　´д)ﾋｿ(´д｀)ﾋｿ(д｀ )</string>
		<key>shortcut</key>
		<string>ひそひそ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>( ´ー｀)ﾌｩｰ．．．</string>
		<key>shortcut</key>
		<string>ふぅ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>q( ﾟдﾟ)pﾌﾞｰﾌﾞｰﾌﾞｰ</string>
		<key>shortcut</key>
		<string>ぶーぶー</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(　´_ゝ｀)ﾌｰﾝ</string>
		<key>shortcut</key>
		<string>ふーん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>( `_ゝ´)ﾌｫｫｰ</string>
		<key>shortcut</key>
		<string>ふぉー</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ﾌﾟｷﾞｬ━━━━m9（＾Д＾）━━━━━ !!!!</string>
		<key>shortcut</key>
		<string>ぷぎゃー</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string> ( ´∀｀)σ)∀`)ﾌﾟﾆ</string>
		<key>shortcut</key>
		<string>ぷに</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(´・ω・)σ)Д`)</string>
		<key>shortcut</key>
		<string>ぷに</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(⑅´∀`)σ)∀`*)</string>
		<key>shortcut</key>
		<string>ぷに</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(o´∀｀)σ)Д`)ﾌﾟﾆ</string>
		<key>shortcut</key>
		<string>ぷに</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ｱｧ？(#ﾟДﾟ)σ)Д`)ﾌﾟﾆ</string>
		<key>shortcut</key>
		<string>ぷに</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string> (´；ω；｀)ﾌﾞﾜｯ</string>
		<key>shortcut</key>
		<string>ぶわっ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(´；ω；｀)ﾌﾞﾜｯ</string>
		<key>shortcut</key>
		<string>ぶわっ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ヽ(`Д´)ﾉﾌﾟﾝﾌﾟﾝ</string>
		<key>shortcut</key>
		<string>ぷんぷん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>┏○))ﾍﾟｺ</string>
		<key>shortcut</key>
		<string>ぺこ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>（　ﾟдﾟ）､ﾍﾟｯ</string>
		<key>shortcut</key>
		<string>ぺっ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ｶｰｯ(ﾟДﾟ≡ﾟдﾟ)､ﾍﾟｯ</string>
		<key>shortcut</key>
		<string>ぺっ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(ﾟДﾟ )</string>
		<key>shortcut</key>
		<string>ぽかーん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ぼこぼこにしてやんよ (　･ω･)っ≡つ ﾊﾞﾊﾞﾊﾞﾊﾞ</string>
		<key>shortcut</key>
		<string>ぼこぼこ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(*･ω･*)ﾎﾟｯ</string>
		<key>shortcut</key>
		<string>ぽっ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>┌(┌ ^o^)┐ﾎﾓｫ…</string>
		<key>shortcut</key>
		<string>ほもぉ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ﾏﾀﾞｧ?(・∀・ )っ/凵⌒☆ﾁﾝﾁﾝ</string>
		<key>shortcut</key>
		<string>まだ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ヽ(｀Д´#)ﾉ ﾑｷｰ!!</string>
		<key>shortcut</key>
		<string>むきー</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ヽ('ω')ﾉ三ヽ('ω')ﾉ</string>
		<key>shortcut</key>
		<string>もうしわけねえ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(๑˃̵ᴗ˂̵)و</string>
		<key>shortcut</key>
		<string>やった</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ζ*'ヮ')ζ</string>
		<key>shortcut</key>
		<string>やよい</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string> ( ｀・ω・´)ﾉ ﾖﾛｼｸｰ</string>
		<key>shortcut</key>
		<string>よろ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>よろしくお願い申し上げます。</string>
		<key>shortcut</key>
		<string>よろ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(∩´∀｀)∩ﾜｰｲ</string>
		<key>shortcut</key>
		<string>わーい</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(ﾟ´Д｀ﾟ)ﾟ</string>
		<key>shortcut</key>
		<string>わーん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ヮ(ﾟдﾟ)ォ!</string>
		<key>shortcut</key>
		<string>わお</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>+（0ﾟ・∀・） + ﾜｸﾜｸﾃｶﾃｶ</string>
		<key>shortcut</key>
		<string>わくてか</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(((o(*ﾟ▽ﾟ*)o)))</string>
		<key>shortcut</key>
		<string>わくわく</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>((o(´∀｀)o))</string>
		<key>shortcut</key>
		<string>わくわく</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>／人◕‿‿◕人＼</string>
		<key>shortcut</key>
		<string>わけがわからないよ</string>
	</dict>
</array>
</plist>
