"*":
  "*":
    core:
      audioBeep: false
      disabledPackages: [
        "turbo-javascript"
        "jslint"
        "emmet"
        "script"
        "metrics"
        "feedback"
        "atom-lint"
      ]
      themes: [
        "atom-dark-ui"
        "tomorrow-night-eighties-syntax"
      ]
    editor:
      fontSize: 12
      scrollPastEnd: true
      showIndentGuide: true
      showInvisibles: true
      softWrap: true
      softWrapAtPreferredLineLength: true
    "emacs-mode":
      hideSidebar: false
      hideTabs: false
      useEmacsCursor: false
      useFuzzyBufferFinder: false
      useFuzzyFileFinder: false
    "exception-reporting":
      userId: "0a7c8ad7-7803-a619-cd7e-9c76b0560ed6"
    linter:
      lintOnChangeInterval: 3000
      statusBar: "Show error if the cursor is in range"
    "markdown-preview":
      breakOnSingleNewline: true
    metrics:
      userId: "4b0dd0d8e33ff1756775a073b0cdb1d5e4bd19e1"
    "tree-view":
      hideVcsIgnoredFiles: true
    welcome:
      showOnStartup: false
    whitespace:
      removeTrailingWhitespace: false
  "atom-beautify":
    general:
      _analyticsUserId: "17b41089-fcfb-4362-b13a-ad138c3eb9af"
  blame: {}
  core:
    automaticallyUpdate: false
    packagesWithKeymapsDisabled: [
      "blame"
    ]
    telemetryConsent: "limited"
    themes: [
      "one-dark-ui"
      "tomorrow-night-eighties-syntax"
    ]
    useCustomTitleBar: true
  editor:
    fontSize: 12
    invisibles: {}
    scrollPastEnd: true
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
    zoomFontWhenCtrlScrolling: true
  "emacs-mode":
    hideSidebar: false
    hideTabs: false
    useEmacsCursor: true
    useFuzzyBufferFinder: false
    useFuzzyFileFinder: false
  "exception-reporting":
    userId: "ab2ede93-4a6d-ac5c-e79c-362a6c7e1cd8"
  "git-diff":
    showIconsInEditorGutter: true
  linter:
    errorPanelHeight: 124
    lintOnFly: false
    showErrorTabLine: true
    statusIconScope: "File"
  minimap:
    moveCursorOnMinimapClick: true
    plugins:
      bookmarks: true
      bookmarksDecorationsZIndex: 0
      cursorline: true
      cursorlineDecorationsZIndex: 0
      "find-and-replace": true
      "find-and-replaceDecorationsZIndex": 0
      "git-diff": true
      "git-diffDecorationsZIndex": 0
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
      linter: true
      linterDecorationsZIndex: 0
      selection: true
      selectionDecorationsZIndex: 0
  "minimap-linter": {}
  "one-dark-ui": {}
  tablr: {}
  "vim-mode-plus":
    highlightSearch: true
    incrementalSearch: true
    showHoverSearchCounter: true
    useSmartcaseForSearch: true
    useSmartcaseForSearchCurrentWord: true
  welcome:
    showOnStartup: false
