"*":
  editor:
    fontSize: 12
    showIndentGuide: true
    showInvisibles: true
    softWrapAtPreferredLineLength: true
    softWrap: true
    scrollPastEnd: true
  core:
    disabledPackages: [
      "turbo-javascript"
      "jslint"
      "emmet"
      "script"
      "metrics"
      "feedback"
      "atom-lint"
    ]
    themes: [
      "atom-dark-ui"
      "tomorrow-night-eighties-syntax"
    ]
    audioBeep: false
  "exception-reporting":
    userId: "0a7c8ad7-7803-a619-cd7e-9c76b0560ed6"
  welcome:
    showOnStartup: false
  metrics:
    userId: "4b0dd0d8e33ff1756775a073b0cdb1d5e4bd19e1"
  "emacs-mode":
    hideTabs: false
    hideSidebar: false
    useEmacsCursor: false
    useFuzzyBufferFinder: false
    useFuzzyFileFinder: false
  "tree-view":
    hideVcsIgnoredFiles: true
  "markdown-preview":
    breakOnSingleNewline: true
  linter:
    lintOnChangeInterval: 3000
    statusBar: "Show error if the cursor is in range"
  whitespace:
    removeTrailingWhitespace: false
  "vim-mode":
    useSmartcaseForSearch: true
