# Your keymap
#
# Atom keymaps work similarly to stylesheets. Just as stylesheets use selectors
# to apply styles to elements, Atom keymaps use selectors to associate
# keystrokes with events in specific contexts.
#
# You can create a new keybinding in this file by typing "key" and then hitting
# tab.
#
# Here's an example taken from Atom's built-in keymap:
#
# '.editor':
#   'enter': 'editor:newline'
#
# 'body':
#   'ctrl-P': 'core:move-up'
#   'ctrl-p': 'core:move-down'
#


'body':
  'cmd-k h': 'window:focus-pane-on-left'
  'cmd-k j': 'window:focus-pane-below'
  'cmd-k k': 'window:focus-pane-above'
  'cmd-k l': 'window:focus-pane-on-right'

'.editor:not(.mini)':
  'ctrl-.': 'editor:delete-line'
  'ctrl-j': 'editor:newline-below'
  'ctrl-shift-j': 'editor:newline-above'
  'ctrl-w': 'editor:delete-to-beginning-of-word'
  'alt-^': 'editor:join-lines'
  'ctrl-^': 'emmet:increment-number-by-1'
  'ctrl-~': 'emmet:decrement-number-by-1'
  'alt-down': 'vim-mode:move-to-next-paragraph'
  'alt-up': 'vim-mode:move-to-previous-paragraph'
  'ctrl-?': 'core:redo'
  'alt-d': 'editor:delete-to-end-of-word'
  'ctrl-d': 'core:delete'
  'ctrl-[': 'bracket-matcher:go-to-matching-bracket'
  'ctrl-alt-[': 'bracket-matcher:select-inside-brackets'
  # 'f4': 'relative-numbers:toggle'

'.platform-darwin, .platform-darwin .command-palette .editor .vim-mode':
  'alt-x': 'command-palette:toggle'
  'ctrl-c f': 'tree-view:toggle'
  'ctrl-c l': 'go-to-line:toggle'
  'ctrl-i': 'editor:auto-indent'
  'ctrl-right': 'pane:show-next-item'
  'ctrl-left': 'pane:show-previous-item'
  'ctrl-;': 'editor:toggle-line-comments'
  'alt-;': 'editor:toggle-line-comments'

# vim normal-mode
'.editor.vim-mode:not(.insert-mode)':
  'ctrl-a': 'emmet:increment-number-by-1'
  'ctrl-x': 'emmet:decrement-number-by-1'
  # 'ctrl-d': 'core:page-down'
  # 'ctrl-u': 'core:page-up'
  # '=': 'core:auto-indent'
  ',': 'editor:toggle-line-comments'
  '%': 'bracket-matcher:go-to-matching-bracket'
  'enter': 'editor:newline-below'
  'ctrl-d': 'core:page-down'
  'g r': 'pane:show-previous-item'
  ':': 'command-palette:toggle'
  'ctrl-w x': 'pane:close'
  'ctrl-w t': 'tree-view:toggle-focus'
  'g j': 'core:move-down'
  'g k': 'vim-mode:move-up'
  
'atom-text-editor.vim-mode.normal-mode':
  'ctrl-i': 'cursor-history:next'
  'ctrl-o': 'cursor-history:prev'

'.tree-view':
  'ctrl-w t': 'tree-view:toggle-focus'

'.autocomplete-plus':
  'enter': 'autocomplete-plus:confirm'
