"*":
  "advanced-open-file":
    fuzzyMatch: true
    helmDirSwitch: true
  "autocomplete-plus":
    confirmCompletion: "enter"
  core:
    allowPendingPaneItems: false
    disabledPackages: [
      "about"
      "welcome"
      "github"
      "open-on-github"
      "narrow"
      "background-tips"
      "autocomplete-atom-api"
      "autoflow"
      "language-clojure"
      "language-coffee-script"
      "language-csharp"
      "language-go"
      "language-java"
      "language-less"
      "language-mustache"
      "language-objective-c"
      "language-perl"
      "language-property-list"
      "language-ruby-on-rails"
      "language-python"
      "language-make"
      "language-rust-bundled"
      "language-sass"
      "language-toml"
      "language-typescript"
      "package-generator"
      "styleguide"
      "clang-format"
      "linter-clang"
    ]
    packagesWithKeymapsDisabled: []
    restorePreviousWindowsOnStart: "no"
    telemetryConsent: "no"
    themes: [
      "one-dark-ui"
      "atom-dark-syntax"
    ]
  editor:
    fontFamily: "Monaco"
    fontSize: 13
    scrollPastEnd: true
    showInvisibles: true
    softWrap: true
  "ex-mode":
    gdefault: true
  "exception-reporting":
    userId: "fe4df9d8-0000-44b4-8fa2-c2324fa5de62"
  fonts:
    fontFamily: "Source Code Pro Medium"
  jumpy:
    fontSize: 0.9
    highContrast: true
  linter:
    ignoreGlob: "**/!*.min.{js,css}"
    lintOnChangeInterval: 1000
  "linter-gcc":
    gccDefaultCFlags: "-c -Wall -fsyntax-only"
    gccDefaultCppFlags: "-c -Wall -std=c++11 -fsyntax-only"
  "linter-ui-default":
    showPanel: true
  "open-recent":
    ignoredNames: false
  tabs:
    enableVcsColoring: true
  "tree-view":
    hideVcsIgnoredFiles: true
  "vim-mode-plus":
    automaticallyEscapeInsertModeOnActivePaneItemChange: true
    clearMultipleCursorsOnEscapeInsertMode: true
    findAcrossLines: true
    groupChangesWhenLeavingInsertMode: false
    incrementalSearch: true
    sequentialPaste: true
    sequentialPasteMaxHistory: 10
    showHoverSearchCounter: true
    statusBarModeStringStyle: "long"
    useClipboardAsDefaultRegister: false
    useSmartcaseForSearch: true
    useSmartcaseForSearchCurrentWord: true
    wrapLeftRightMotion: true
