"*":
  "autocomplete-plus":
    confirmCompletion: "enter"
  core:
    allowPendingPaneItems: false
    automaticallyUpdate: false
    closeDeletedFileTabs: true
    disabledPackages: [
      "about"
      "welcome"
      "github"
      "open-on-github"
      "narrow"
    ]
    openEmptyEditorOnStart: false
    packagesWithKeymapsDisabled: []
    restorePreviousWindowsOnStart: "no"
    telemetryConsent: "no"
    themes: [
      "one-dark-ui"
      "atom-dark-syntax"
    ]
  editor:
    fontFamily: "Monaco"
    fontSize: 11
    scrollPastEnd: true
    showInvisibles: true
    softWrap: true
  "ex-mode":
    gdefault: true
  "exception-reporting":
    userId: "fe4df9d8-0000-44b4-8fa2-c2324fa5de62"
  fonts:
    fontFamily: "Source Code Pro Medium"
  jumpy:
    fontSize: 0.9
    highContrast: true
  linter:
    lintOnChangeInterval: 1000
  "linter-ui-default": {}
  "open-recent":
    ignoredNames: false
  tabs:
    enableVcsColoring: true
  "vim-mode-plus":
    automaticallyEscapeInsertModeOnActivePaneItemChange: true
    clearMultipleCursorsOnEscapeInsertMode: true
    findAcrossLines: true
    groupChangesWhenLeavingInsertMode: false
    incrementalSearch: true
    sequentialPaste: true
    sequentialPasteMaxHistory: 10
    showHoverSearchCounter: true
    statusBarModeStringStyle: "long"
    useClipboardAsDefaultRegister: false
    useSmartcaseForSearch: true
    useSmartcaseForSearchCurrentWord: true
    wrapLeftRightMotion: true
