; http://transitive.info/article/git/command/config/

; [user]
  ; name = mkiken
  ; email = mkiken0@gmail.com
[push]
  default = current

[pull]
  default = current

; https://blogs.atlassian.com/2013/06/git-diff/
[alias]
# assumes git.git clone at ~/src/git
; diff-highlight = /usr/local/Cellar/git/1.8.4.3/share/git-core/contrib/diff-highlight/diff-highlight
  ad = add
	co = checkout
	br = -c color.branch=always branch
	ci = commit
	s = -c color.status=always status -bs
	ft = fetch
	ps = push
	pl = pull
	df = -c color.diff=always diff
	sm = submodule
	# http://qiita.com/hash/items/1f01aa09ccf148542f21
	lg = log --stat --pretty=format:'%Cblue%h %Cgreen%ar %Cred%an %Creset%s %Cred%d'
	gr = log --graph --date-order --pretty=format:'%Cblue%h %Cgreen%ci %Cred%an %Cblue%m %Creset%s %Cred%d'
	rb = rebase
	st = stash
	bl = blame
	; cl = clone
	cl = clean
	cp = cherry-pick
	rl = reflog
	rv = revert
	mt = mergetool
	dt = difftool
	add-cancel = reset HEAD
	bs = bisect

	; http://qiita.com/peccul/items/90dd469e2f72babbc106
	today = log --oneline --since='12 hour ago'
	hisback = reset --soft HEAD^
	zip = archive --format=zip --prefix=archive/ HEAD^ -o archive.zip
	; http://qiita.com/usamik26/items/bfc2196f510d68b3c2cc
	modified = diff --diff-filter=M
	added = diff --diff-filter=A
	deleted = diff --diff-filter=D
	; http://qiita.com/sonots/items/fbbcfdba6d7d016fbadb
	current-branch = rev-parse --abbrev-ref HEAD
	pull-dry-run  = !"git fetch origin; B=$(git rev-parse --abbrev-ref HEAD); git diff --stat --summary ${B}..origin/${B}"
; http://qiita.com/shim0mura/items/4363769faf25ce485b89
	rma  = rm `git ls-files --deleted`
; http://lynn1985.blog.shinobi.jp/%E5%8B%89%E5%BC%B7%E3%83%A1%E3%83%A2/git%20%E7%89%B9%E5%AE%9A%E3%81%AE%E3%83%95%E3%82%A1%E3%82%A4%E3%83%AB%E3%81%AE%E5%A4%89%E6%9B%B4%E5%B1%A5%E6%AD%B4%E3%82%92%E8%A6%8B%E3%82%8B
	flog  = log -p
	; http://qiita.com/yuyuchu3333/items/a30387bdd6a0afc1185c
	rso  = remote show origin
; diff-highlight = "!f() { git diff \"$@\" | /usr/local/Cellar/git/contrib/diff-highlight/diff-highlight; }; f"
  smpull = submodule foreach 'git pull origin master'
  smupdate = submodule update --init --recursive

  ; http://d.hatena.ne.jp/sugyan/20111103/1320247493
  tr = log --graph --pretty='format:%C(yellow)%h%Creset %s %Cgreen(%an)%Creset %Cred%d%Creset'
; http://xr0038tech.hatenadiary.jp/entry/2014/01/23/202116
  ; tree = log --graph --branches --pretty=format:"%d [%h] \"%s\""
  tree = log --graph --decorate --oneline --abbrev-commit

  d0 = diff HEAD             # HEADとdiff
  d1 = diff HEAD~            # HEADから1つ前とdiff
  d2 = diff HEAD~~           # HEADから2つ前とdiff
  d3 = diff HEAD~~~          # HEADから3つ前とdiff
  d4 = diff HEAD~~~~         # HEADから4つ前とdiff
  d5 = diff HEAD~~~~~        # HEADから5つ前とdiff
  d10 = diff HEAD~~~~~~~~~~  # HEADから10前とdiff

  rollback = reset --hard

  sdf = diff —name-status

  r0 = checkout HEAD
  r1 = checkout HEAD~
  r2 = checkout HEAD~~
  r3 = checkout HEAD~~~
  r4 = checkout HEAD~~~~
  r5 = checkout HEAD~~~~~
  r10 = checkout HEAD~~~~~~~~~~

  wdf = diff --word-diff=color
  upsync = "!f_upsync () { git fetch upstream; git rebase upstream/master;};f_upsync"

  vdf= difftool --tool=vimdiff --no-prompt --dir-diff
	vmodified = difftool --tool=vimdiff --no-prompt --dir-diff --diff-filter=M

	remoterm = push --delete origin
	conflicts = !git ls-files -u | cut -f 2 | sort -u

  merged-branches = branch --merged
  merged-remote-branches = !git branch -a --merged | grep -v \\* | grep -v master | grep remotes/origin/ | sed -e 's%remotes/origin/%%g'

  name = config user.name
  email = config user.email

[color]
	ui = auto
[core]
	excludesfile = /Users/a13596/.gitignore
	autocrlf = false
	; editor = emacs
	; editor = vim -c \"set fenc=utf-8\"
	; editor = mvim
	editor = vim
	quotepath = false
	; http://qiita.com/yaotti/items/2361768b6ed781e87780
[interactive]
# git add/checkout -p時に，エンターでの決定を省略する
	singlekey = true

; http://d.hatena.ne.jp/z3100/20120505/1336203155
[include]
	path = .gitconfig.local
[diff]
    tool = mvimdiff
[difftool "mvimdiff"]
    cmd = mvim -f -d \"$LOCAL\" \"$REMOTE\"
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[merge]
	; tool = vimdiff2
	tool = mvimdiff
[mergetool "mvimdiff"]
    cmd = mvim -f -d \"$LOCAL\" \"$MERGED\" \"$REMOTE\"
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[i18n]
	commitencoding = utf-8
[mergetool]
	keepBackup = false
[user]
	name =
	email =
